{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <p class="text-title">Вибір власного житла- це один з найважливіших рішень у житті людини. Це не дивно, адже від
        вибору житла залежатиме комфорт і затишок проживання в певному середовищі кожної людини. <br />
        Саме тому перед придбанням нової квартири, потрібно обов'язково ретельно підійти до цього питання, щоб не
        помилитися і
        зробити максимально правильний вибір квартири для свого подальшого життя.</p>
    <p class="main-text"> Наш сервіс надає можливість швидко знайти, вибрати і купити квартиру в Києві. На нашому
        порталі ви швидко знайдете підходящі варіанти серед майже 100 тисяч пропозицій купівлі та продажу житла в
        столиці України. Тут представлені постійно оновлювані безкоштовні оголошення продажу квартир в Голосіївському,
        Дарницькому, Деснянському, Дніпровському, Оболонському, Печерському, Подільському, Святошинському,
        Солом'янському і Шевченківському районах Києва, з фото, віртуальними турами, описом і месцем розташування на
        карті Києва.</p>
    <div class="mainOne">
        <div class="col-xl-12 col-md-12 yellow_circle">
            <div class="col-xl-2 col-md-2 circle">
                <img src="{%static 'img/Apartment.png' %}" alt="Apartment" />
            </div>
            <div class="col-xl-2 col-md-2  circle">
                <img src="{%static 'img/New house.png' %}" alt="New houses" />
            </div>
            <div class="col-xl-2 col-md-2  circle">
                <img src="{%static 'img/House.png' %}" alt="House" />
            </div>
            <div class="col-xl-2 col-md-2 circle">
                <img src="{%static 'img/Elite house.png' %}" alt="Elite houses" />
            </div>
        </div>
        <div class="about">
            <div class="col-xl-3 col-md-3">
                <h3>Продаж квартир</h3>
                <p class="main-text">Ми підберемо квартиру на будь-який смак в районі, який вас цікавить</p>
            </div>
            <div class="col-xl-3 col-md-3">
                <h3>Новобудови</h3>
                <p class="main-text">Постійне оновлення ринку, тільки надійні забудовники</p>
            </div>
            <div class="col-xl-3 col-md-3">
                <h3>Житлові будинки</h3>
                <p class="main-text">Окремий будинок - мрія кожної родини. Найкращі будинки на будь який смакю</p>
            </div>
            <div class="col-xl-3 col-md-3">
                <h3>Елітне житло</h3>
                <p class="main-text">Підбір індивідуального житла для кожної особистості</p>
            </div>
        </div>
        <button class="button-more">Більше >></button>
    </div>
    <p class="main-text"> 1) Житло у центрі міста – економія часу та якісний відпочинок. Житло, розташоване в серці
        міста – це, перш за все, безліч зекономленого часу та зусиль на добирання. Із ЖК «Монако» до площі Ринок за
        декілька хвилин можна добратися пішки. Та і прогулянка центром – значно приємніша, аніж стояння в заторах. Ще
        однією перевагою для мешканців житла в центрі є розвинена інфраструктура. Так, робити закупи майбутні мешканці
        апартаментів зможуть у ТЦ «ForumLviv» та «Магнус», на міських ринках «Добробут» та «Краківський». А от для
        дозвілля варіантів в центрі міста безліч. Тут неподалік від дому і театри, і кінотеатри, і затишні кав'ярні та
        ресторани, і міські свята та фестивалі, що здебільшого проводяться на центральних площах міста, тощо.</p>
    <p class="main-text">2) Облаштування прибудинкової території. Окрім розташування, суттєве значення у визначенні
        якості житла має також облаштування прибудинкової території – місця, де мешканці могли б проводити свій вільний
        час. У випадку житлового будинку на вул.Куліша 36 (новобудови ЖК «Монако»), незважаючи на ущільнену забудову в
        центральній частині міста, на ділянці окрім самого будинку передбачені ще і відпочинкові майданчики та зони
        озеленення. Будинок відгороджує цю територію від шуму вулиці, створюючи затишний внутрішній дворик – чудове
        місце для відпочинку з рідними та спілкування із сусідами.</p>
    <p class="main-text"> 3) Красивий будинок, гарний вид з вікна та приємне сусідство. У плануванні внутрішнього
        простору та зовнішнього вигляду елітного житла, архітектори прискіпливі до деталей. До прикладу, квартири в
        будинку ЖК «Монако» мають зручне планування внутрішнього простору та відповідають сучасним вимогам новобудов.
        Великі віконні пройоми забезпечують житлові приміщення якісним природнім освітленням. До слова, вікна
        передбачаються з подвійним склопакетом для збільшення енергоефективності та покращення шумоізоляційних
        характеристик.</p>
    <img src="{%static 'img/offer/offer.png'%}" alt="our offer" />


</div>
{% endblock %}