<header>
    <div class="container-fluid header_2">

        <div class="header_2_part_1">
        </div>

        <div class="header_2_part_3">
            <div class="container">
                <div class="row">
                    <div class="col-12  menu">
                        <a href="../index.html">Головна</a>
                        <a href="../about_us.html">Про нас</a>
                        <a href="../guarantee.html">Гарантії</a>
                        <a href="">Що пропонуємо</a>
                        <a href="">Замовити</a>
                        <a href="">Ціни</a>
                        <a href="">Відгуки</a>
                        <a href="">Знижки</a>
                        <a href="">Контакти</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="header_2_part_4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>
                            НАШІ <span>ГАРАНТІЇ</span>
                        </h1>
                        <p>
                            <a href="../index.html">Головна</a> >> <a href="../guarantee.html">Гарантії</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>