<div class="container">
    <p class="text-title">Вибір власного житла- це один з найважливіших рішень у житті людини. Це не дивно, адже від
        вибору житла залежатиме комфорт і затишок проживання в певному середовищі кожної людини. <br />
        Саме тому перед придбанням нової квартири, потрібно обов'язково ретельно підійти до цього питання, щоб не
        помилитися і
        зробити максимально правильний вибір квартири для свого подальшого життя.</p>

    <p class="main-text"> Наш сервіс надає можливість швидко знайти, вибрати і купити квартиру в Києві. На нашому
        порталі ви швидко знайдете підходящі варіанти серед майже 100 тисяч пропозицій купівлі та продажу житла в
        столиці України. Тут представлені постійно оновлювані безкоштовні оголошення продажу квартир в Голосіївському,
        Дарницькому, Деснянському, Дніпровському, Оболонському, Печерському, Подільському, Святошинському,
        Солом'янському і Шевченківському районах Києва, з фото, віртуальними турами, описом і месцем розташування на
        карті Києва.</p>

    <img src="../img/prices/Prices.png" alt="paying" />

    <div class="container mainFive">
        <h2>що говорять наші <span>щасливі клієнти</span></h2>
        <div class="quote_hr_div d-flex col-3">
            <div class="qoute_circle d-flex col-2">
                <p id="scobochki">,,</p>
            </div>
        </div>
        <div class="d-flex col-12" id="carousel">
            <div id="carou_left"><img src="../../../img/left_arrow.png" alt="left_arrow"></div>
            <div class="text_div">
                <p id="root"></p>
            </div>
            <div id="carou_right"><img src="../../../img/right_arrow.png" alt="right_arrow"></div>

            <!--Зразки відгуків-->

            <div class="text_div">
                <p class="text_rew">Дуже вдячна компанії за підібране житло, за те , що прислухались до всіх моїх
                    побажань.
                    Найкраща цінова політика, ще й надали знижку при купівлі. 100% буду рекомендувати своїм друзям та
                    знайомим. Дуже дякую.
                    <br><span class="custom_name">Світлана Денисюк, Київ</span></p>
            </div>
            <div class="text_div">
                <p class="text_rew">Best rieltor company in the world! I will recomend you to my friends in Hollywood.
                    Щиро дякую!
                    <br><span class="custom_name">Angelina Jolie, LA</span></p>
            </div>
            <div class="text_div">
                <p class="text_rew">Perfect! Just perfect! Thank you guys! Now I have the best appartments in NY
                    <br><span class="custom_name">Ryan Gosling, New York</span></p>
            </div>

            <!--////////////////-->

        </div>

        <div class="row offset-5 col-2">
            <button class="button-more">Більше >></button>
        </div>
    </div>
</div>