<header>
    <div class="container-fluid header_2"> 


            <div class="header_2_part_4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>
                            ЩО <span>ПРОПОНУЄМО</span>
                        </h1>
                        <p>
                            <a href="../index.html">Головна</a> >> <a href="../we_offer.html">Що пропонуємо</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>