<header>
    <div class="container-fluid header_2">

        <div class="header_2_part_4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>
                            НАШІ <span>ЦІНИ</span>
                        </h1>
                        <p>
                            <a href="../index.html">Головна</a> >> <a href="../prices.html">Наші ціни</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>