// Заголовки
h1 {
  @include fonts(40px, $font-prox-black, 600, $p-2);
  text-transform: uppercase;
  span{
    font-size: 40px;
  }
}

h2 {
  @include fonts (35px, $font-prox-black, 600, $p-2);
  text-transform: uppercase;
  span {
    @include fonts (35px, $font-prox-black, 900, $p-1);
  }
}

h3 {
  @include fonts (27px, $font-prox-reg, 600, $font-h3--color-primary);
  text-transform: uppercase;
}




// // Параграфи
.main-text {
  @include fonts (15px, $font-prox-reg, 700, $p-2);
  line-height: 24px;
  margin: 30px 0;
}

.text-title {
  @include fonts (15px, $font-sfui-reg, 700, $p-2);
  line-height: 24px;
  text-align: center;
  margin: 20px 0;
}

// // Списки
.list-check {
  list-style-image: url(../img/check.png);
  @include fonts(15px, $font-prox-sm, 400, $font-text--color-primary);
  line-height: 36px;
}
// // Інпути
select {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  @include fonts (20px, $font-prox-reg, 500, $p-2);
  padding: 0 20px 0;
}
select:active {
  background-color: $default--color__1;
  border: $btn--bg-color-primary_1 solid 1px;
  width: 100%;
  @include fonts(20px, $font-prox-reg, $font-text--color-primary, 400);
  padding: 0 20px 0;
  height: 50px;
  border-radius: 50px;
}
select:hover {
  background-color: bg-main--color-primary_2;
  border: $btn--bg-color-primary_1 solid 1px;
  width: 100%;
  @include fonts(20px, $font-prox-reg, $font-text--color-primary, 400);
  padding: 0 20px 0;
  height: 50px;
  border-radius: 50px;
}
input {
  background-color: $default--color__1;
  border: $default--color__2 solid 1px;
  width: 100%;
  @include fonts(15px, $font-prox-reg, $font-text--color-primary, 400);
  padding: 15px;
  height: 45px;
  border-radius: 30px;
}
input:active {
  background-color: $default--color__1;
  border: $btn--bg-color-primary_1 solid 1px;
  width: 100%;
  @include fonts(15px, $font-prox-reg, $font-text--color-primary, 400);
  padding: 15px;
  height: 45px;
  border-radius: 30px;
}
input:hover {
  background-color: bg-main--color-primary_2;
  border: $btn--bg-color-primary_1 solid 1px;
  width: 100%;
  @include fonts(15px, $font-prox-reg, $font-text--color-primary, 400);
  padding: 15px;
  height: 45px;
  border-radius: 30px;
}

// // Лінки
.menu {
  cursor: pointer;

  a {
    text-decoration: none;
    @include fonts(18px, $font-sfui-reg, 400, $p-2);
    display: inline-block;
    justify-self: stretch;
    padding-top: 15px;
  }

  a:hover {
    @include fonts(18px, $font-sfui-reg, 400, $p-4);
  }
}

.menu-footer {
  a {
    text-decoration: none;
    @include fonts(18px, $font-sfui-reg, 400, $p-3);
  }

  a:hover {
    @include fonts(18px, $font-sfui-reg, 400, $p-4);
  }
}

.link-footer{
    a{
        @include fonts(14px, $font-prox-reg, 400, $p-3);
        text-decoration: none;
    }
    a:hover{
        @include fonts(14px, $font-prox-reg, 400, $p-4);
    }
}


  // Пагінація

  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
  
    li{
      background-color: $default--color__1;
      border: 1px solid #dadada;
      margin: 5px;
      padding: 7px 22px;
      border-radius: 15px;
      box-shadow: 2px 2px 2px rgba(109, 109, 109, 0.3);
   
      a{
          @include fonts(15px, $font-prox-eb,400, $font-h1--color-primary);
          text-decoration: none;
      }
      a:hover{
          @include fonts(15px, $font-prox-eb,400, $font-h1--color-primary);
          text-decoration: none;
      }
      } 
      li:hover{
          background-color: $btn--bg-color-primary_1;
          border: 1px solid #dadada;
          margin: 5px;
          padding: 7px 22px;
          border-radius: 15px;
          box-shadow: 2px 2px 2px rgba(109, 109, 109, 0.3);
    }
  }

// textarea
textarea {
  background-color: $default--color__1;
  border: $default--color__2 solid 1px;
  width: 100%;
  @include fonts(15px, $font-prox-reg, $font-text--color-primary, 400);
  padding: 15px;
  height: 45px;
  border-radius: 30px;
}
textarea:active {
  background-color: $default--color__1;
  border: $btn--bg-color-primary_1 solid 1px;
  width: 100%;
  @include fonts(15px, $font-prox-reg, $font-text--color-primary, 400);
  padding: 15px;
  height: 45px;
  border-radius: 30px;
}
textarea:hover {
  background-color: $bg-main--color-primary_2;
  border: $btn--bg-color-primary_1 solid 1px;
  width: 100%;
  @include fonts(15px, $font-prox-reg, $font-text--color-primary, 400);
  padding: 15px;
  height: 45px;
  border-radius: 30px;
}