{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-w3layouts wrapper boble">
    <h1 class='h1_boble'>SignUp</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            {% include 'partials/_alerts.html' %}
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <input class="text input_boble" type="text" name="Name" placeholder="Name" required="">
                <input class="text input_boble" type="text" name="Surname" placeholder="Surname" required="">
                <input class="text input_boble" type="text" name="Username" placeholder="Username" required="">
                <input class="text email input_boble" type="email" name="email" placeholder="Email" required="">
                <input class="text input_boble" type="password" name="password" placeholder="Password" required="">
                <input class="text w3lpass input_boble" type="password" name="confirm-password"
                    placeholder="Confirm Password" required="">
                <input type="submit" value="SIGNUP">
            </form>
            <p>Already have an Account? <a {% if "accounts/login/" == request.path  %} class="active" {% endif %}
                    href="{% url 'login' %}"> Login Now!</a></p>
        </div>
    </div>
    <!-- copyright -->
    <div class="colorlibcopy-agile">
        <p>© 2020 Signup Form. All rights reserved | Design by me
        </p>
    </div>
    <!-- //copyright -->
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
{% endblock %}